apiVersion: apps/v1
kind: Deployment
metadata:
  name: pricedrop-api
  labels:
    app: pricedrop-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: pricedrop-api
  template:
    metadata:
      labels:
        app: pricedrop-api
    spec:
      containers:
        - name: api
          image: <AWS_ACCOUNT_ID>.dkr.ecr.<YOUR-AWS-REGION>.amazonaws.com/<ECR_REPOSITORY>:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          envFrom:
            - secretRef:
                name: backend-secrets
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"
          readinessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 20
